<h1> Edit Photo Post. </h1>
<%= link_to "Home Page" , photos_path %>
<%= form_for @photo do |f| %>
  <p>
    <%= f.label :title %> <br />
    <%= f.text_field :title %> <br/>
  </p>
  <p>
    <%= f.label :user %> <br />
    <%= f.text_field :user %> <br/>
  </p>
  <p>
    <%= f.select :category_id,Category.all.collect { |x| [x.name, x.id] }, {:include_blank => "Select One"} %> <br/>
  </p>
  <p>
  <%= f.submit "Edit Photo" %>
  </p>
<% end %>
