<p><%= link_to "Back" , photos_path %> | <%= link_to "Edit Post", edit_photo_path %> | <%= link_to "Delete", @photo, :method => :delete ,data: { confirm: 'Are you sure?' }%></p>

<h1><%= @photo.title %></h1>
<small> Uploaded On: <%=  @photo.created_at.strftime("%b %d. %Y") %> || Last Modified On: <%= @photo.updated_at.strftime("%b %d. %Y")%> </small>
<p> Uploaded By: <%= @photo.user %> </p>
<p> Category: <%= link_to @photo.category.name,category_path(:id => @photo.category.id) %> </p>


  <%= image_tag(url_for(@photo.image), :size => "500x400")%>
