<h1><%= @category.name %></h1>
<p><%= link_to "Back" , categories_path %> </p>
<br>
<% if @photos.each do |photo| %>
 <h3> <%= link_to photo.title,photo %> || Created By: <%= photo.user %></h3>

 <%= image_tag(url_for(photo.image), :size => "300x200") %>
  <hr>
 <% end.empty? %>
 <p> Sorry,there are no Photos for th is Category </p>

<% end %>
<p>
<hr>
